<!-- burger logo images -->
<img id='logo' src='/assets/images/321-3210154_ykle-burger-and-soda-svg-png-icon-free.png'>

<!--title-->
<h1 id='app-title'>Eat-Da-Burger</h1>

<div class='burgerWrapper'>
    <span class='toEat'></span>
    <span class='eaten'></span>
</div>


<input id='burgerInput'>
<button id='burgerSubmit'>Submit</button>
<p>Enter a burger you want to eat. Click the "Submit" button.</p>