body {
    background-color: #ffca66;
    text-align: center;
    margin: 0 auto;
}

#logo {
    height: 200px;
}

.uneatenList {
    list-style-type: none;
    padding: 20px;
}

.eatenList {
    list-style-type: none;
    padding: 20px;
    color: grey;
}